
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
  --white: #fff;
  --darkGrey: #414040;
  --lightGrey: #888;
  --light-shed: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: var(--darkGrey);
  background-color: var(--lightGrey);
}

.container {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  padding: 8px;
  border: none;
  border-radius: 2px;
  box-shadow: px 4px 4px 4px var(--light-shed);
  background-color: var(--white);
}

.todo-title-container {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border-bottom: 1px solid var(--light-shed);
}

.todo-title {
  color: #888;
  font-size: 24px;
}

.todo-input {
  display: flex;
  padding: 4px;
  border-bottom: 1px solid #ccc;
}

#textInput,
.text-value {
  width: 98%;
  margin: 4px 0;
  padding: 8px 6px;
  font-size: 22px;
  border: none;
}

#addBtn {
  width: 25px;
  height: 20px;
  margin: 16px 0;
}

#todo-list-container {
  margin-bottom: 6px;
}

.todo-list {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  margin: 2px 0;
  border-bottom: 1px solid #ccc;
}

.task-list {
  display: flex;
  justify-content: start;
  align-items: center;
}

.checkBtn {
  margin-right: 10px;
}

.text-description {
  text-decoration: line-through;
}

#textInput:focus {
  outline: none;
}

#clearBtn {
  padding: 8px;
  font-size: 22px;
  font-weight: 700;
  margin: 2px 0;
  border: none;
  color: var(--lightGrey);
  cursor: pointer;
}

.trashBtn,
.editBtn {
  width: 20px;
  height: 20px;
  margin: 16px 0;
}
